@import './tachyons';
@import './carbon';
@import './wola-colors';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  padding: 2rem 3%;
  color: #152935;
  background-color: #f5f7fa;
}

.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #979797;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight: bold;
}

.bar-tooltip {
  font-weight: 700;
  padding-left: 1rem 2rem;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe3e6;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
  display: none;
}

.bar-tooltip:after {
  content: '';
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}

.d3-tip {
  padding-left: 1rem 2rem;
  background-color: #fff;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dfe3e6;
  padding: 0.25rem 0.5rem;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip.n:after {
  content: '\25BC';
  margin: -3px 0 0 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 10px;
  width: 100%;
  position: absolute;
  pointer-events: none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  color: #fff;
}

.d3-tip.e:after {
  content: '\25C0';
  margin: 0 0 0 -3px;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 10px;
  width: 100%;
  position: absolute;
  pointer-events: none;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #fff;
}

.d3-tip.w:after {
  content: '\25B6';
  margin: 0 -3px 0 0;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 15px;
  width: 100%;
  position: absolute;
  pointer-events: none;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  color: #fff;
}

.axis {
  font-size: 14px;
}

.toolbar-container .toolbar {
  width: auto;
  float: left;
}

.footer {
  text-align: center;
}

.toolbar {
  width: 100%;
  padding: 10px;
  white-space: nowrap;
  display: flex;
}

.button {
  color: #999;
  font-size: 14px;
  cursor: pointer;
  float: left;
  padding: 12px 12px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #ccc;
  background: #f9f9f9;
  margin: 0 0;
  text-decoration: none;
  display: inline-block;
}

.button.active {
  color: #000;
  background: #e9e9e9;
  border-color: #aaa;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

a.button:first-of-type {
  border-radius: 4px 0 0 4px;
}

a.button:last-of-type {
  border-right: solid 1px #ccc;
  border-radius: 0 4px 4px 0;
}

.select-style {
  display: inline-block;
  padding: 0;
  margin-left: 10px;
  border: 1px solid #ccc;
  width: 70px;
  min-width: 70px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  background: #fff;
  position: relative;
}

.select-style:after {
  top: 50%;
  left: 75%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000000;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

.select-style select {
  font-size: 14px;
  padding: 11px 8px;
  width: 100%;
  border: none;
  color: #999;
  box-shadow: none;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-style select:focus {
  outline: none;
}

td {
  padding: 2rem;
}

.bx--data-table-v2-container {
  overflow-y: hidden;
}

.pagination li {
  display: inline-block;
  padding: 0 0.25rem;
}

.bx--pagination .bx--select--inline {
  width: auto;
}

.x.axis path {
  display: none;
}

.tick text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  fill: #152935;
  stroke: none;
  font-size: 16px;
}

.x.axis .tick text {
  transform: translateY(5px);
}

.country text,
text.total {
  font-size: 20px;
}

li.disabled {
  display: none;
}

li.active a {
  text-decoration: none;
  padding: 0.25rem;
  color: #3d70b2;
  font-weight: 600;
}

ul.pagination li:not(.active):not(:first-child) a {
  text-decoration: none;
  border-right: 0;
  height: 100%;
  border-left: 1px solid #dfe3e6;
  width: 2.625rem;
  margin: 0;
  cursor: pointer;
  background: none;
}

ul.pagination li:not(.active):not(:first-child) a::after {
}

.d3-tip {
  max-width: 32rem;
}
