.wola-blue {
  color: #00b5ef;
}
.bg-wola-blue {
  background-color: #00b5ef;
}
.b--wola-blue {
  border-color: #00b5ef;
}

.hover-wola-blue:hover,
.hover-wola-blue:focus {
  color: #00b5ef;
}

.hover-bg-wola-blue:hover,
.hover-bg-wola-blue:focus {
  background-color: #00b5ef;
}

.wola-purple {
  color: #603f99;
}
.bg-wola-purple {
  background-color: #603f99;
}
.b--wola-purple {
  border-color: #603f99;
}

.hover-wola-purple:hover,
.hover-wola-purple:focus {
  color: #603f99;
}

.hover-bg-wola-purple:hover,
.hover-bg-wola-purple:focus {
  background-color: #603f99;
}

.wola-green {
  color: #65bd60;
}
.bg-wola-green {
  background-color: #65bd60;
}
.b--wola-green {
  border-color: #65bd60;
}

.hover-wola-green:hover,
.hover-wola-green:focus {
  color: #65bd60;
}

.hover-bg-wola-green:hover,
.hover-bg-wola-green:focus {
  background-color: #65bd60;
}

.wola-gray {
  color: #404041;
}
.bg-wola-gray {
  background-color: #404041;
}
.b--wola-gray {
  border-color: #404041;
}

.hover-wola-gray:hover,
.hover-wola-gray:focus {
  color: #404041;
}

.hover-bg-wola-gray:hover,
.hover-bg-wola-gray:focus {
  background-color: #404041;
}

.wola-warm-gray {
  color: #d5d0ca;
}
.bg-wola-warm-gray {
  background-color: #d5d0ca;
}
.b--wola-warm-gray {
  border-color: #d5d0ca;
}

.hover-wola-warm-gray:hover,
.hover-wola-warm-gray:focus {
  color: #d5d0ca;
}

.hover-bg-wola-warm-gray:hover,
.hover-bg-wola-warm-gray:focus {
  background-color: #d5d0ca;
}

.wola-red {
  color: #da1a32;
}
.bg-wola-red {
  background-color: #da1a32;
}
.b--wola-red {
  border-color: #da1a32;
}

.hover-wola-red:hover,
.hover-wola-red:focus {
  color: #da1a32;
}

.hover-bg-wola-red:hover,
.hover-bg-wola-red:focus {
  background-color: #da1a32;
}

.wola-orange {
  color: #f26322;
}
.bg-wola-orange {
  background-color: #f26322;
}
.b--wola-orange {
  border-color: #f26322;
}

.hover-wola-orange:hover,
.hover-wola-orange:focus {
  color: #f26322;
}

.hover-bg-wola-orange:hover,
.hover-bg-wola-orange:focus {
  background-color: #f26322;
}

.wola-yellow {
  color: #f9c606;
}
.bg-wola-yellow {
  background-color: #f9c606;
}
.b--wola-yellow {
  border-color: #f9c606;
}

.hover-wola-yellow:hover,
.hover-wola-yellow:focus {
  color: #f9c606;
}

.hover-bg-wola-yellow:hover,
.hover-bg-wola-yellow:focus {
  background-color: #f9c606;
}
